@{
    ViewData["Title"] = "Search";
}

<div class="hw-accelerate">
    <section>
        <header class="ZkMs_b0D5CxRkpMsqWenC">
            <div>
                <div class="inputBox">
                    <h4 class="inputBox-label">Search for an Artist, Song, Album or Playlist</h4>
                    <input type="text" class="inputBox-input" placeholder="Start typing..." />
                </div>
            </div>
        </header>
    </section>
</div>